# Ignore files and directories created by Jupyter Notebook
*.ipynb_checkpoints
*.ipynb_versions


# Ignore intermediate files from Jupyter Notebook
*.pyc
__pycache__

# Ignore environment variables
.env

# Ignore package-related files
*.egg
*.whl

# Ignore requirement files
requirements.txt

# Ignore test files
test/

# Ignore documentation files
docs/

# Ignore virtual environment directories
venv/

# Ignore data files
*/data/*
*/raw_data/*